@import '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import 'config';

body {
    background-color: $color-background;
    color: $color-text;
    font-family: $font-family-sans;
    cursor: default;
    font-size: 4vw;

    @media ($sm) {
        font-size: 3vw;
    }

    @media ($md) {
        font-size: 2.5vw;
    }

    @media ($lg) {
        font-size: 1.8vw;
    }

    @media ($xlg) {
        font-size: 1.5vw;
    }

    * {
        box-sizing: border-box;
    }
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    text-align: center;
    flex-wrap: wrap;
    color: $color-dark-pink;
}

.icon {
    font-size: 10vw;
    margin: 0;
    margin-bottom: 3vw;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.text {
    margin: 0;
    margin-bottom: 1vw;
    line-height: 1.6;
}

.suggestion {
    margin: 0;
    line-height: 1.3;
    color: fade-out($color: $color-text, $amount: 0.25);

    &__highlight {
        text-decoration: underline;
        text-decoration-color: $color-yellow;
    }

    &__flavour,
    &__filling {
        text-transform: lowercase;
    }

    &__type,
    &__flavour,
    &__filling {
        color: $color-text;
    }
}

.footer {
    background-color: $color-purple;
    padding: 10vw;
    color: $color-beige;

    a {
        color: inherit;
        text-decoration-color: fade-out($color: $color-beige, $amount: 0.75);

        &:hover {
            color: fade-out($color: $color-beige, $amount: 0.25);
        }
    }

    @media ($lg) {
        padding: 5vw 10vw;
    }

    .text:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    br {
        display: none;

        @media ($md) {
            display: inline;
        }
    }
}
